<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="body">

    <div class="main-content">
        <h2 class="main-title1">Tarefas Concluídas</h2>

        <div id="tarefas-container">

            <div class="task">
                <h3>Nome da tarefa</h3>
                <p><strong>Descrição:</strong></p>
                <p class="description">Descrição</p>
                <p><strong>Data limite:</strong></p>
                <p class="data-end">dd/mm/yyy</p>
                <div class="priority prioridade-desejavel">Prioridade</div>
            </div>

        </div>

    </div>

</div>

</body>
</html>