<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tarefas Concluídas</title>
    <link rel="stylesheet" href="/css/completed-tasks.css">
</head>
<body>

<div layout:fragment="body">

    <div class="main-content">
        <h2 class="main-title1">Tarefas Concluídas</h2>

        <div id="tarefas-container">

            <div class="task" th:each="task : ${tasks}">
                <div class="priority"
                     th:classappend="${task.priority} == 'Importante' ? 'prioridade-importante' :
                     (${task.priority} == 'Essencial' ? 'prioridade-essencial' :
                     (${task.priority} == 'Desejável' ? 'prioridade-desejavel' : ''))"
                     th:text="${task.priority}"></div>
                <h3 th:text="${task.name}"></h3>
                <p><strong>Descrição:</strong></p>
                <p class="description" th:text="${task.description}"></p>
                <p><strong>Data limite:</strong></p>
                <p class="data-end" th:text="${task.dueDate}"></p>
            </div>

        </div>

    </div>

</div>

</body>
</html>